*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1500px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 20px;
}
.main-nav li
{
    display: inline-block;
}


.main-nav li a:hover
{
    	color:orange;
	
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}


body
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(pic/pic5.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1
{
    width: 200px;
    background: linear-gradient(to right, #cc1573, #5722a9);;
    padding-bottom: 8px;
    padding-top: .4%;
    padding-left: 4px;
    padding-right:4px;
    border: 0px;
    margin: 0;   
    color: whitesmoke;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    text-transform: capitalize;
}
.p
{
    color: whitesmoke;
    text-align: center;
    align-content: center;
    padding-top: 100px;
    padding-left: 42%;
    font-family: sans-serif;
    font-size: 30px;
    
}

.english
{
    color: whitesmoke;
    text-align: center;
    align-content: center;
    padding-top: 60px;
    padding-right: 60px;
    text-transform: uppercase;
    font-size: 50px;
}
.birth h5
{
    font: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    padding-top: 62px;
    padding-left: 15%;
}
.birth p
{
    
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    padding-left: 15%;
}
.heritage h5
{
    font: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    padding-top: 62px;
    padding-left: 35%;
}
.heritage p
{
    
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    padding-left: 35%;
}
.childhood h5
{
    font: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    padding-top: 62px;
    padding-left: 15%;
}
.childhood p
{
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    padding-left: 15%;
}
.loveformusic h5
{
    font: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    padding-top: 62px;
    padding-left: 35%;
}
.loveformusic p
{
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    padding-left: 35%;
}
.DEDICATION h5
{
    font: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    padding-top: 62px;
    padding-left: 15%;
}
.DEDICATION p
{
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    padding-left: 15%;
}
.Singing h5
{
    font: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    padding-top: 62px;
    padding-left: 35%;
}
.Singing p
{
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    padding-left: 35%;
}
.media h5
{
    font: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    padding-top: 62px;
    padding-left: 15%;
}
.media p
{
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    padding-left: 15%;
}
.Discography h5
{
    font: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    padding-top: 62px;
    padding-left: 35%;
}
.Discography p
{
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    padding-left: 35%;
}
.Awards h5
{
     font: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    padding-top: 62px;
    padding-left: 15%;
    
}
.Awards p
{
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    padding-left: 15%;
}

}

#container
{
    min-height:50;
}


.footer {
  padding-top: 5%;
    padding-bottom: 5%;
  background-image:url(pic/pic5.jpg);
  text-transform: capitalize;
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 30px;
    padding-right: 84%;
}
.logo
{
    float: right;
    list-style: none;
    margin-right: 80px;
}
.logo li
{
    display: inline-block;
   
}
.logo i
{
     transition: 1s;
}
.logo li a
{
    color: white;               
    text-decoration: none;

}
.logo i:hover
{
    transform: scale(1.7);
}

.logo li a:hover
{
    	color:	#3f729b;
}








